#include <winres.h>

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", "Bo98"
            VALUE "FileDescription", "Rehasher for Criterion-era NFS saves (MUD)"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "nfs-save-rehash.exe"
            VALUE "LegalCopyright", "Copyright (C) 2023 Bo98"
            VALUE "OriginalFilename", "nfs-save-rehash.exe"
            VALUE "ProductName", "nfs-save-rehash"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END
#endif
